
.main-image {
	max-width: 100%;
	min-height: 100%;
	height: auto;
}

.footer-label {
	color: gray !important;
	font-weight: lighter;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: bottom;
}

.footer-text {
	vertical-align: bottom;
}

.dividerTextIntroPage {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	vertical-align: middle;
	color: lightgrey;
}


.modalListItemText {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	vertical-align: middle;
	color: #323232;
}

.modalListButtons {
	margin-left: 10px;
	margin-right: 10px;
	color: red;
}

.introTitle {
	margin-top: 30px;
	margin-bottom: 20px;
}

.introText {
	margin-left: 15px;
	margin-right: 15px;
}

.introButton {
	margin-top: 30px;
	margin-bottom: 20px;
}